<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>


<table>
  <thead>
  <tr>
    <th>Donation Amount</th>
    <th>Donation Date</th>
  </tr>
  </thead>


  <p>
    <strong>Donations by this person:</strong>

    <tbody>
    <% @donor.donations.each do |b| %>
        <tr>
          <td> <%= number_to_currency(b.amount)%> </td>
          <td> <%= (b.date).strftime("%B %d, %Y") %> </td>
    <% end %>
    </tr>
    </tbody>
</table>
<br>
<b>Total Donated by this person:
  <%= number_to_currency(Donation.where("donor_id =?", params[:id]).sum(:amount)) %></b>
<br>
<br>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>